
:root
{
    /*  1안 */
    --head : #D3BBDD;
    
    --background : #EFE7D3;
    
    --button-inactive : #ECE3F0;
    --button-active : #e9c7ff;
    
    --category : #c1a1d3; 
    --list : #7A4988;
    
    --head-text-color : white;
    --button-text-color : #6E6E6DFF; 
    
    
    /* 2안 
    --head : #9f5f80;
    
    --background : #583d72;
    
    --button-inactive : #693c72;
    --button-active : #e9c7ff;
    
    --category : #ffff; 
    --list : #aaaaaa;
    
    --head-text-color : white;
    --button-text-color : white; 
    */
    
    /* 3안 
     --head : #7868e6;
    
    --background : #b8b5ff;
    
    --button-inactive : #b4aee8;
    --button-active : #e9c7ff;
    
    --category : #ffff; 
    --list : #aaaaaa;
    
    --head-text-color : black;
    --button-text-color : black;
    */
}
body
{
    font-family: 'Nanum Gothic', nanum;
    background-color : var(--background);
    color:black;  
}
ul, li {
    list-style-type: none;
}
.container
{
    width: 90%;
    display: none;
}
.page
{
    margin-top: 1.2em;
}
.row
{
    padding: 0;
    margin: 0;
    margin-bottom:
}
.col
{
    margin: 0;
    padding: 0;
    
}

.start
{
    width: 100%;
    height: 5em; 
}
.choice
{
    border-radius: 0.5em;
    background-color: #F6F6F6;
    margin-bottom: 1em;
}
.question
{
    height: 3em;
    color: var(--head-text-color);
    font-size: 80%;
    font-weight: bold; 
    line-height: 3em;
    text-align: center;
    border-radius: 1em;
    margin-bottom: 0.7em; 
    background-color: var(--head);
}
.row .icon
{   
    padding: 0;
    height: 15em;
    line-height: 15em;
    text-align: center;
    
    font-size-adjust: auto; 
}


.row .text
{ 
    margin: auto;
    width:90%;
    
}

.row .text button
{
    
    text-align: center;
    margin: auto;
    font-weight: bold;
    bottom: 1em; 
}

button span
{
    min-height: 3vw;
    display: inline;
    font-size: 3vw;
    
}
/*
.row .choice:focus, .row .choice:active
{
    
    box-shadow: 0 0 3px #7A1B12;
    background: rgba(135,235,253, 0.4);
}
*/

.last
{
    margin-top: 2em;
}
.comments
{
    margin-top: 2em;
    padding-bottom: 2em;
    display: "none";
}

.suggestion
{
    background-color: var(--head);
    text-align: center;
    margin-bottom: 0.5em; 
}
.picture
{
    padding: 0;
    width: 100%; 
}
img
{
    height: 15em;
    width: 100%;
    margin: 0;
    padding: 0; 
}

.row h3
{
    padding: 0;
    margin: 0;
    font-size: 1.5em; 
    font-weight: 900;
    
}

.row p
{   
    padding: 0;
    margin: 0;
    
}

.char ul
{
    background-color: var(--category);
}


.good-partener
{
    background-color: var(--category);
    margin-bottom: 1em;
}

.good-partener h3
{
    text-align: center;
    margin-bottom: 1em; 
}
.good-partener p
{
    margin: auto; 
    width: 95%;
    margin-bottom: 1em;
}
.good-partener li
{
    margin-left: 1em; 
    background-color: var(--list);
}

.bad-partener
{
    background-color: var(--category);
}

.bad-partener h3
{
    text-align: center;
    margin-bottom: 1em;
}
.bad-partener p
{
    margin: auto; 
    width: 95%;
    margin-bottom: 1em;
}
.bad-partener li
{
    margin-left: 1em; 
    background-color: var(--list);
}