
:root
{
    --head : #8468bf;
    
    --background : #b696f2;
    
    --button-inactive : #8468bf;
    --button-active : #e9c7ff;
}
body
{
    font-family: 'Nanum Gothic', nanum;
    background-color : var(--background)
}
ul, li {
    list-style-type: none;
}
.container
{
    width: 90%;
    display: none;
}
.page
{
    margin-top: 1.2em;
}
.row
{
    padding: 0;
    margin: 0;
    margin-bottom:
}
.col
{
    margin: 0;
    padding: 0;
    
}

.start
{
    width: 100%;
    height: 5em; 
}
.choice
{
    background-color: #F6F6F6;
    margin-bottom: 1em;
}
.question
{
    height: 3em;
    font-size: 80%;
    font-weight: bold; 
    color: aliceblue;
    line-height: 3em;
    text-align: center;
    border-radius: 0.5em; 
    background-color: var(--head);
}
.row .icon
{   
    padding: 0;
    height: 15em;
    line-height: 15em;
    text-align: center;
    
    font-size-adjust: auto; 
}
.row .text
{ 
    margin: auto;
    width:90%;
    
}

.row .text button
{
    
    text-align: center;
    margin: auto;
    font-weight: bold;
    bottom: 1em; 
}

button span
{
    min-height: 3vw;
    display: inline;
    font-size: 3vw;
    
}
/*
.row .choice:focus, .row .choice:active
{
    
    box-shadow: 0 0 3px #7A1B12;
    background: rgba(135,235,253, 0.4);
}
*/

.last
{
    margin-top: 2em;
}
.comments
{
    margin-top: 2em;
    display: "none";
}

.suggestion
{
    border: 1px solid black;
    text-align: center; 
}

img
{
    height: 15em;
    width: 100%;
    margin: 0;
    padding: 0; 
}

.row h3
{
    padding: 0;
    margin: 0;
    font-size: 1.5em; 
    font-weight: 900;
    
}

.row p
{   
    padding: 0;
    margin: 0;
    
}

.char ul
{
    background: yellow; 
}


.good-partener
{
    background: rgba(77,138,37,0.5);
    margin-bottom: 1em;
}

.good-partener h3
{
    text-align: center;
    margin-bottom: 1em; 
}
.good-partener p
{
    margin: auto; 
    width: 95%;
    margin-bottom: 1em;
}
.good-partener li
{
    margin-left: 1em; 
    background: #AEFF78;
}

.bad-partener
{
    background-color:darkorchid;
}

.bad-partener h3
{
    text-align: center;
    margin-bottom: 1em;
}
.bad-partener p
{
    margin: auto; 
    width: 95%;
    margin-bottom: 1em;
}
.bad-partener li
{
    margin-left: 1em; 
    background: #D9A5F3;
}