body
{
    font-family: 'Nanum Gothic', nanum;
}
ul, li {
    list-style-type: none;
}
.container
{
    width: 90%;
    display: none;
}
.page
{
    margin-top: 2em;
}
    
.col
{
    border: 1px solid black;
}
    
.question
{
    height: 3em;
    font-size: 50%;
    line-height: 3em;
    text-align: center;
}
   


.row .icon
{    
    height: 15em;
    line-height: 15em;
    text-align: center;
    border-bottom: 1px solid;
    font-size-adjust: auto; 
}
.row .text
{ 
    
    margin: auto;
    height : 10vw;
    width:50%;
    
}

.row .text button
{
    height: 2em;
    text-align: center;
    margin: auto;
    font-weight: bold;
}

button span
{
    display: inline;
    font-size: 2vw;
    
}
.row .choice:focus, .row .choice:active
{
    
    box-shadow: 0 0 3px #7A1B12;
    background: rgba(135,235,253, 0.4);
}

.last
{
    margin-top: 2em;
}
.comments
{
    margin-top: 2em;
    display: "none";
}

.suggestion
{
    border: 1px solid black;
    text-align: center; 
}
